In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

# Q1:

In [57]:
l = []
def prime(a):
    for num in range(2, a + 1):
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                l.append(num)
    print(l)

In [58]:
prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Q2:

In [54]:
lambda a:a*a

In [55]:
print

In [53]:
import sys
x = lambda x: sys.stdout.write(''.join(x))
x('hello')

hello

5

In [56]:
x

# Q3:

In [30]:
l = [1,2,3,5]
print(len(l))
def ap(a):
    l1 = [i for i in range(1,len(l)+2)]
    for i in range(len(l1)):
        assign(l1,l)
        print(len(l))
    print(l)

def assign(l1,l2):
    l2 = l1

4

In [31]:
ap(5)

4
4
4
4
4
[1, 2, 3, 5]

In [8]:
l2[4]

54

In [3]:
l1 = [i for i in range(1,len(l)+2)]

In [4]:
for i in range(len(l1)):
    l2 = l1
l2[4] = 54

In [5]:
l2

[1, 2, 3, 4, 54]

# Q4:

In [35]:
con = lambda *a : "".join(a)
con("a","t","h")

'ath'

# Q5:

In [2]:
sqn = lambda i : print(i**2)
for i in range(1,100):
    sqn(i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [65]:
a8 = lambda *x : [i**i for i in x ]
a8(1,2,3,4,5,6,7,8,9,10)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

# Q6:

In [61]:
a1 = lambda *x : x**2
a2 = lambda **x : x
a3 = lambda x : x+x+x
a4 = lambda x : pow(x,x) + x**2
a5 = lambda x : chr(x)
a6 = lambda x,y : x**y
a7 = lambda *x : ''.join(x)
a8 = lambda *x : [i**i for i in x ]
a9 = lambda *x : [i*2 != 0 for i in x]
a10 = lambda *x : [i>1000 for i in x]

In [62]:
a10(654,5454,651651,546)

[False, True, True, False]

# Q7:

In [76]:
import os
readd = lambda x :(open(str(x)).readlines())
readd('try.txt')

['hello there!!!\n']